<%= form_for current_user, url: submit_info_path, method: :post, html: {class: 'form-horizontal'} do |f| %>

  <%= f.fields_for :myrsc do |m| %>
    <div class="form-group">
      <%= m.label :username, 'MyRsc username', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= m.text_field :username, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= m.label :password, 'MyRsc password', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= m.password_field :password, class: 'form-control' %>
      </div>
    </div>
  <% end %>
  <br/>
  <br/>
  <%= f.fields_for :oxfords do |o| %>
    <div class="form-group">
      <%= o.label :username, 'Oxford username', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= o.text_field :username, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= o.label :password, 'Oxford password', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= o.password_field :password, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= o.label :claimant, 'Oxford claimant', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= o.text_field :claimant, class: 'form-control', placeholder: 'Name of claimant' %>
      </div>
    </div>
    <div class="form-group">
      <%= o.label :relationship, 'Oxford relationship', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= o.text_field :relationship, class: 'form-control', placeholder: 'Self Spouse Child' %>
      </div>
    </div>
  <% end %>
  <div class="col-md-offset-2">
    <%= submit_tag 'Save', class: 'btn btn-primary save' %>
  </div>
<% end %>
