<!DOCTYPE html>
<html>
  <head>
    <title>HealthInsurance</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container content">
      <% if notice %>
        <p class="notice alert alert-success"><%= notice %></p>
      <% end %>
      
      <% if alert %>
        <p class="alert alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
